<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/crop.css">
    <script src="../../static/js/cities.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="container-fluid px-1 py-5 mx-auto">
        <div class="row d-flex justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
                <h3>Crop Prediction</h3>
                <div class="card">
                    <h5 class="text-center mb-4">Crop Details</h5>
                    <form class="form-card" action="predict" method="post">
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">nitrogen<span class="text-danger"> *</span></label> <input type="number" id="nitrogen" name="nitrogen" placeholder="nitrogen" min="15" step="0.1" required> </div>
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">phosphorous<span class="text-danger"> *</span></label> <input type="number" id="phosphorous" name="phosphorous" placeholder="phosphorous" min="15" step="0.1" required> </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">pottasium<span class="text-danger"> *</span></label> <input type="number" id="pottasium" name="pottasium" placeholder="pottasium" min="15" step="0.1" required> </div>
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">ph<span class="text-danger"> *</span></label> <input type="number" id="ph" name="ph" placeholder="ph" min="0" max="7" step="0.1" required> </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">state<span class="text-danger"> *</span></label> 
                                <select onchange="print_city('state', this.selectedIndex);" id="sts" name ="stt" class="form-control" required></select>
                                <script language="javascript">print_state("sts");</script>
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">state<span class="text-danger"> *</span></label> 
                                <select id ="state" class="form-control" required></select>
                                <script language="javascript">print_state("sts");</script>
                            </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">rainfall<span class="text-danger"> *</span></label> <input type="number" id="rainfall" name="rainfall" placeholder="rainfall" min="15" step="0.1" required> </div>
                        </div>
                        <br>
                        <div class="row justify-content-center">
                            <div class="form-group col-sm-6"> <button type="submit" class="btn-block btn-primary" value="predict">Submit</button> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>